<div class="mt-16 h-[88vh] flex flex-col gap-3 justify-center items-center shdw-inner rounded-lg dark:bg-gray-900 bg-white">
<span class="text-3xl capitalize text-gray-500 dark:text-gray-400 drop-shadow">Page non trouvée.</span>
<a [routerLink]="['/home/details']" class="border border-transparent hover:border-opacity-50 dark:hover:border-opacity-50 dark:hover:border-purple-800 hover:border-purple-900 py-1 px-1 rounded-lg flex gap-1 capitalize" aria-current="page">
    <img  src="assets/images/home.webp" class="w-5 h-5 drop-shadow  animate-fade-left animate-duration-500 animate-ease-in-out" alt="medicol home icon" >
    <span class="text-gray-700 dark:text-gray-300">Retour à accueil</span>
</a>
</div>