  <div [ngClass]="{
    'noBg':login.welcome,
    'flex-row-reverse':cr.authRoute('auth','signup'),
    'justify-center':cr.authRoute('auth',''),
   }" 
   class="flex h-screen  bg-[url('assets/images/loginBg.webp')] bg-cover bg-center">
 
   @if(cr.authRoute('auth','signup')||cr.authRoute('auth','signin') ){
   <div class="w-[50%] flex justify-center items-center h-screen">
     <router-outlet/>
   </div> 
   }

  <div
  [ngClass]="{
   'rounded-tl-[5rem] mt-6':cr.authRoute('auth','signin'),
   'rounded-tr-[5rem] mt-6':cr.authRoute('auth','signup'),
   'rounded-[5rem] m-8':cr.authRoute('auth',''),
  }"
    class="bg-white w-[50%]  m-0 p-0 drop-shadow bgShadow  animate-fade animate-duration-[1500ms] animate-ease-in-out">
    <div class="flex justify-start pl-10 items-center h-[10%] w-full">
      <div class="flex justify-center w-[15%] items-center gap-1">
        <div>
          <img src="assets/images/logo.webp" alt="Medicol logo"
            class="w-8 h-8 animate-jump-in animate-duration-[2000ms] animate-ease-in-out" />
        </div>
        <div>
          <span class="text-xl"><span class="font-extrabold">Medi</span>col</span>
        </div>
      </div>
      <div class=" w-[80%] flex justify-end gap-3">     
             @if(!cr.authRoute('auth','signup')){
              <button [routerLink]="['signup']" class="capitalize text-gray-700 hover:text-gray-900 rounded-lg">s'inscrire</button>
             }
             @if(!cr.authRoute('auth','signin')){
              <button  [routerLink]="['signin']" class="capitalize hover:text-gray-100 shadow-inner px-2 text-white hover:bg-purple-700  bg-purple-900  rounded-lg">se connecter</button>
             }
      </div>

    </div>
          <div class="flex h-[70%] flex-col justify-center items-center gap-5 w-full">
      <h3 class="font-medium capitalize drop-shadow text-black">
        Société Medicol Grossiste Pharmaceutique
      </h3>
      <h1 class="text-5xl uppercase font-bold text-purple-900 drop-shadow-2xl wlc">
        content de te revoir
      </h1>
      <div class="h-2 w-16 rrb drop-shadow-lg rounded-full bg-green-700"></div>
      <p class="text-sm w-96 text-center mt-4 text-gray-800">
        Société Medicol Grossiste Pharmaceutique is one of the popular
        Pharmacy
        <span class="font-bold">
          / Drugstore located in Résidence La Colombe Place Al
          Hamama.</span>
      </p>
    </div>
    <div class="h-[15%] flex w-full justify-center gap-2">
      <div class="flex gap-2 font-medium">
        <img src="assets/images/email.webp" alt="Medicol logo" class="w-5 h-5" /><span>{{'Medicol@contact.ma'}}</span>
      </div>
      <div class="h-5 rounded-full w-1 bg-black"></div>
      <div class="flex gap-2 font-medium">
        <img src="assets/images/phone.webp" alt="Medicol logo" class="w-5 h-5" /><span>+212539960096</span>
      </div>
    </div>
    


    <div class="h-5%] w-full flex justify-center">
      <span class="text-[12px]">Ceated with multi<span class="font-bold">clas</span>.</span>
    </div>
  </div>
</div>
