

  .flying-text-container {
    display: inline-block;
    overflow: hidden;
  }
  
  .flying-char {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100%);
    animation: flyAnimation 1.5s ease-in-out forwards;
  }
  
  @keyframes flyAnimation {
    0% {
      opacity: 0;
      transform: translateY(-100%) translateX(-200%);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }
  .noBg{
   opacity: 0;
    animation: fadeOutBackground 3s ease-in-out;
  }
  
  @keyframes fadeOutBackground {
    from {
      opacity: 1;
    }
    to {
     opacity: 0;
    }
  }
  .bgShadow{
    filter: drop-shadow(-28px -5px 132px black);
  }