<div
  class="z-50 animate-fade-left animate-duration-[400ms] animate-ease-in-out absolute rounded-lg top-[-90px] right-0 p-3 shadow-md backdrop-blur-sm backdrop-filter bg-opacity-20"
>
  <div class="flex flex-col gap-3">
    <div class="flex">
      <h1
        class="flex justify-center items-center gap-2 w-full text-gray-900 dark:text-white"
      >
        <div (mouseleave)="iconSwitch = false" (mouseenter)="iconSwitch = true">
          <button
            *ngIf="iconSwitch"
            (click)="filterHistory.filterHistory = !filterHistory.filterHistory"
            class="hover:text-red-600 dark:hover:text-red-500 text-gray-700 dark:text-white pt-[2p] px-[2px]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
          <span *ngIf="!iconSwitch">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </span>
        </div>
        <span class="font-semibold">Filter history</span>
      </h1>
    </div>
    <div class="flex gap-1">
      <button
        [ngClass]="
          filterHistory.content
            ? 'rounded-t-xl rounded-br-xl shadow  bg-gray-800'
            : 'rounded-xl  bg-gray-400'
        "
        (click)="filterHistory.content = true; filterHistory.checkbox = false"
        class="mr-[1px] hover:bg-gray-400 dark:hover:bg-slate-100 hover:bg-opacity-25 text-sm font-medium capitalize bg-opacity-25 dark:bg-gray-400 dark:text-gray-900 text-gray-800 px-2"
      >
        content
      </button>
      <button
        [ngClass]="
          filterHistory.checkbox
            ? 'rounded-t-xl rounded-bl-xl shadow bg-gray-800'
            : 'rounded-xl bg-gray-400 '
        "
        (click)="filterHistory.content = false; filterHistory.checkbox = true"
        class="hover:bg-gray-400 dark:hover:bg-slate-100 hover:bg-opacity-25 text-sm font-medium capitalize bg-opacity-25 dark:bg-gray-400 dark:text-gray-900 text-gray-800 px-2"
      >
        checkbox
      </button>
    </div>
    <ng-container *ngIf="filterHistory.content">
      <a
        class="animate-fade-up animate-duration-[400ms] animate-ease-in-out bg-slate-400 shadow hover:bg-slate-500 border border-transparent hover:border-gray-400 hover:bg-opacity-20 gap-2 bg-opacity-20 rounded-lg p-2"
        *ngFor="let item of filterHistory.savedFilters.reverse(); let x = index"
        (click)="filterHistory.selectedFilterFromHistory('content', item.array)"
      >
        <p class="flex items-center gap-2 justify-center mb-[2px]">
          <span class="text-xs dark:text-gray-400 text-gray-700">{{
            item.date
          }}</span>
          <span class="font-semibold text-gray-800 dark:text-gray-400">{{
            item.time
          }}</span>
        </p>
        <p
          class="flex mb-[3px] border rounded-lg border-dashed dark:border-gray-600 border-gray-300"
          *ngFor="let i of filterArray(item.array)"
        >
          <ng-container *ngIf="i.name !== ''">
            <span class="bg-gray-400 px-1 rounded-l-lg">{{ i.shortName }}</span>
            <span
              class="bg-gray-500 dark:bg-gray-300 text-gray-200 dark:text-gray-600 px-1"
              >{{ i.option }}</span
            >
            <span class="px-2 dark:text-gray-100 text-gray-800">{{
              i.content
            }}</span>
          </ng-container>
        </p>
        <div class="flex justify-center">
          <button
            (click)="filterHistory.fhRemove('content', item.id)"
            class="hover:text-red-600 dark:hover:text-red-500 text-gray-700 dark:text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 12h-15"
              />
            </svg>
          </button>
        </div>
      </a>
    </ng-container>
    <ng-container *ngIf="filterHistory.checkbox">
      <a
        class="animate-fade-up animate-duration-[400ms] animate-ease-in-out bg-slate-400 shadow hover:bg-slate-500 border border-transparent hover:border-gray-400 hover:bg-opacity-20 gap-2 bg-opacity-20 rounded-lg p-2"
        *ngFor="let item of filterHistory.arrayOfIdsContainer; let x = index"
        (click)="
          filterHistory.selectedFilterFromHistory('checkbox', item.array)
        "
      >
        <p class="flex items-center gap-2 justify-center mb-[2px]">
          <span class="text-xs dark:text-gray-400 text-gray-700">{{
            item.date
          }}</span>
          <span class="font-semibold text-gray-800 dark:text-gray-400">{{
            item.time
          }}</span>
        </p>
        <div class="flex justify-center">
          <button
            (click)="filterHistory.fhRemove('checkbox', index)"
            class="hover:text-red-600 dark:hover:text-red-500 text-gray-700 dark:text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 12h-15"
              />
            </svg>
          </button>
        </div>
      </a>
    </ng-container>

    <a
      (click)="
        filterHistory.fhClear(filterHistory.content ? 'content' : 'checkbox')
      "
      class="flex drop-shadow-sm justify-center cursor-pointer dark:hover:text-gray-500 dark:text-gray-300 text-gray-800 hover:text-gray-400"
    >
      Clear</a
    >
  </div>
</div>
