
<nav class="w-full z-50 fixed top-0 left-0 ">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="http://localhost:4200/" class="flex items-center gap-2">
            <div class="12 flex justify-center items-center gap-1">
                <div>
                  <img src="assets/images/logo.webp" alt="Medicol logo"
                    class="w-8 h-8" />
                </div>
                <div>
                  <span class="text-xl dark:text-gray-300 dark:hover:text-gray-200"><span class="font-extrabold">Medi</span>col</span>
                </div>
              </div>
        </a>
        <button  type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu-full" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div  class="items-center justify-between  font-medium w-full md:flex md:w-auto md:order-1">
            <ul class="flex ul flex-col p-4 md:p-0 mt-4 border  md:flex-row md:space-x-8 md:mt-0 md:border-0 ">
                <li>
                  
                    <a [routerLink]="['/home']" class=" flex gap-1" aria-current="page">
                        <img [ngClass]="correctRoute==='/home'?'block':'hidden'" src="assets/images/home.webp" class="w-5 h-5 drop-shadow  animate-fade-left animate-duration-500 animate-ease-in-out" alt="medicol home icon" >
                        <span>Home</span>
                    </a>
                    <div class="w-full h-[3px] -mt-[1px] flex items-center justify-center"><div class="w-full hidden h-full bg-gradient-to-r from-purple-600 to-purple-950 rounded-[5px]"></div></div>
                </li>
                <li>
            <button appToggling [options]="options" [optionsIcon]="icon" [optionsIconDown]="iconDown" [optionsIconUp]="iconUp" class="flex hover:text-purple-800 items-center justify-between w-full py-2 pl-3 pr-4 md:w-auto md:p-0">
                <img #icon src="assets/images/options.webp" class="w-5 h-5 drop-shadow hidden mr-1 animate-fade-left animate-duration-500 animate-ease-in-out" alt="medicol options icon" >   
                      <span class="text-gray-700">Options</span>  
                      <span #iconDown class="animate-flip-down animate-duration-500 animate-ease-in-out">
                        <svg  class="w-2.5 h-2.5 ml-2.5 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                      </svg>
                      </span>
                      <span #iconUp class="animate-flip-up hidden  animate-duration-500 animate-ease-in-out">
                             <svg  class="w-2.5 h-2.5 ml-2.5 rotate-180 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                             </svg>
                      </span>
  
         
            </button>
                </li>
                <li>
                    <a  class=" ">Marketplace</a>
                </li>
                <li>
                    <a  class=" ">Resources</a>
                </li>
                <li>
                    <a  class=" ">Contact</a>
                </li>
                <li>
                    <app-dark-mode-toggle/>
                </li>
            </ul>
        </div>
    </div>
    <div [ngClass]="correctRoute==='/home'? !home.list? 'border-y dark:border-gray-950  ml-2 w-[84.2%]':'border-y dark:border-gray-950  ml-2 w-[99.2%]':''" ></div>
    <div class="mx-2 border-gray-200  bg-gray-900  ">
        <div #options class=" hidden border-gray-200 shadow-sm bg-gray-50 md:bg-white border-y dark:bg-gray-800 dark:border-gray-600">
            <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-2 md:px-6">
                <ul>
                    <li>
                        <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Online Stores</div>
                            <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Segmentation</div>
                            <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Marketing CRM</div>
                            <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Online Stores</div>
                            <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Segmentation</div>
                            <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Marketing CRM</div>
                            <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
