*{
  user-select: none !important;
}
.path {
    fill: none;
    stroke: url(#linearGradient);
    stroke-width: 1.5;
    stroke-dasharray: 240 1386;
  }
  .form-items {
    position: relative;
  }
  .form-items input {
    display: block;
    transition: all 0.3s ease;
  }
  .form-items label {
    position: absolute;
    cursor: text;
    z-index: 4;
    top: 2px;
    left: 10px;
    transition: all 0.3s ease;
  }
  .form-items input:focus + label,
  .form-items input:valid + label {
    font-size: 12px;
    top: -8px;
    opacity: 0.7;
  }


  .email{
    top: -149px;
    width: 484px;
    left: 128px;
    z-index: -1;
  }
  .password{
    width: 243.4px;
    left: 55px;
    z-index: -1;
    top: 76px;
    transform: rotate(180deg);
  }
  .adresse{
    top: -165px;
    width: 484px;
    left: 128px;
    z-index: -1;
  }
  .submit{
    width: 396px;
    left: 79px;
    height: 18rem;
    z-index: -1;
    top: 42px;
  }
  .identification{
    z-index: -1;
    top: -54px;
    left: -29px;
    width: 231px;
  }
  .contact{
    z-index: -1;
    top: -13px;
    left: -29px;
    width: 231px;
  }
  .confirmer{
    width: 244.4px;
    left: 15.87rem;
    z-index: -1;
    top: 76px;
    transform: rotate(180deg);
  }
  .wlc{
    filter: drop-shadow(-5px 1px 2px #0000004d);
  }
  .brr{
    width: 10px;
    opacity: 0;
    animation: wi 1s ease-in-out;
  }
  .rrb{
    width: 4rem;
    animation: iw 1s ease-in-out;
  }
  @keyframes wi{
    0%{width: 100%;opacity: 1;}
    100%{width: 0%;opacity: 0;}
  }
  @keyframes iw{
    0%{width: 0rem}
    100%{width: 4rem}
  }
