.homeBG{
    background-image: url('../../../assets/images/homeBg.webp');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    opacity: 1;
}
