  <div class="grid grid-cols-2 h-full">
    <div class="h-full flex justify-center items-center">
        <div class="w-[70%] h-[70%] flex justify-center items-center">
            <div>
                <h1 class="text-6xl uppercase font-semibold dark:to-blue-300 text-primary flex flex-col">
                    <span class="drop-shadow-md">3r</span>
                    <span class="text-3xl font-medium text-gray-600 dark:text-gray-700">Para Pharmacie</span>
                   
                </h1>
                <div class="w-full h-[8px] my-6">
                    <div class="h-full rounded-full w-48 bg-gray-400 shadow"></div>
                </div>
                <div class="w-[90%]">
                    <p class="text-2xl text-gray-500 dark:text-gray-400">
                        La Para Pharmacie 3r est un fournisseur de confiance de produits de santé, de beauté et de bien-être, située à <strong>SIDI AL MANDRI, Touabel Soufla, Avenue Thami El Wazzani. 2</strong>. Nous offrons une large sélection de produits de haute qualité pour soutenir votre bien-être.
                    </p>
                    <div class="flex w-full mt-8 gap-2">
                        <div class="flex gap-2 font-medium dark:text-gray-300 text-gray-700">
                            <img class="w-5 h-5" src="assets/images/email.webp" alt="Medicol logo">
                            <span>{{'contact@3rcentre.ma'}}</span>
                        </div>
                        <div class="h-5 rounded-full w-1 bg-gray-400"></div>
                        <div class="flex gap-2  font-medium dark:text-gray-300 text-gray-700">
                            <img class="w-5 h-5" src="assets/images/phone.webp" alt="Medicol logo">
                            <span>+212539999808</span>
                           </div> 
                    </div>
                </div>
            </div>
        </div>
    
       </div>
       <div class="h-full ">
        <div class="flex justify-center items-center h-full -mt-[4.5%] ml-[25%]  ">
            <div class="animate-rotate-y brightness-125 animate-duration-[3000ms] animate-ease-in-out">
                <img class="w-52 h-52 -mt-60 drop-shadow retated " src="assets/images/logo.png" alt="Medicol logo">
            </div>
        </div>
       </div>
   </div>  

