@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    src: local('Poppins Regular'), local('Poppins-Regular'), url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    src: local('Poppins Bold'), local('Poppins-Bold'), url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bolder;
    font-style: normal;
    src: local('Poppins Medium'), local('Poppins-Medium'), url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    font-style: normal;
    src: local('Poppins Thin'), local('Poppins-Light'), url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}


* {
    user-select: none;
    font-family: 'Poppins', sans-serif; 
    &:focus {
        outline: none;
    }
}
